<p id="notice"><%= notice %></p>

<p>
  <strong>Skill type:</strong>
  <%= @skill.skill_type %>
</p>

<p>
  <strong>Skill name:</strong>
  <%= @skill.skill_name %>
</p>

<p>
  <strong>Skill code:</strong>
  <%= @skill.skill_code %>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
