<p id="notice"><%= notice %></p>

<h1>Listing Heirarchies</h1>

<table>
  <thead>
    <tr>
      <th>Heirarchy name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @heirarchies.each do |heirarchy| %>
      <tr>
        <td><%= heirarchy.heirarchy_name %></td>
        <td><%= link_to 'Show', heirarchy %></td>
        <td><%= link_to 'Edit', edit_heirarchy_path(heirarchy) %></td>
        <td><%= link_to 'Destroy', heirarchy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Heirarchy', new_heirarchy_path %>
