<p id="notice"><%= notice %></p>

<p>
  <strong>Project name:</strong>
  <%= @project.project_name %>
</p>

<p>
  <strong>Project code:</strong>
  <%= @project.project_code %>
</p>

<p>
  <strong>Account:</strong>
  <%= @project.account_id %>
</p>

<p>
  <strong>Service:</strong>
  <%= @project.service_id %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
