<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @resource.employee_id %>
</p>

<p>
  <strong>Employee name:</strong>
  <%= @resource.employee_name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @resource.role %>
</p>

<p>
  <strong>Heirarchy:</strong>
  <%= @resource.heirarchy_id %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
